<!--------------------------------------------->
<!--                 HEADER                  -->
<!--------------------------------------------->

<div id="ma-header-primary" class="ma-header hidden" style="z-index: 10;height: 81px;">

    <!--                     START: HEADER (SMALL SCREEN)                    -->
    <!------------------------------------------------------------------------->
    <div class="ma-header--small visible-xs">

        <!-------------------- START: MENU (SMALL SCREEN) --------------------->
        <div class="ma-header__block pull-left">
            <a href="#"
               aria-label="Homepage"
               class="ma-header__block__btn link-reset"
               ng-click="vm.slideNavMenu()">
                <i class="material-icons ma-header__block__btn__icon">menu</i>
                <span class="screen-reader-only">
                    Waysily
                </span>
            </a>
        </div>
        <!--                    END: MENU (SMALL SCREEN)                     -->



        <!--------------------- START: SEARCH (SMALL SCREEN) ------------------>
        <div class="ma-header__block ma-header__block__search-wrapper"
             role="search">
            <form class="ma-header__block__search-wrapper__form">
                <div class="ma-header__block__search-wrapper__form__search-bar">
                    <i class="material-icons
                              ma-header__block__btn__icon
                              ma-header__block__search-wrapper__form__search-bar__icon">
                        search
                    </i>
                    <label class="screen-reader-only"
                           for="header-search-form" aria-hidden="true">
                        Where to?
                    </label>
                    <input type="text"
                           class="ma-header__block__search-wrapper__form__search-bar__input"
                           placeholder="Where to?" autocomplete="off"
                           name="location" class="location" value="">
                    <input type="hidden" name="source" value="hdr">
                </div>
            </form>
        </div>
        <!--                     END: SEARCH (SMALL SCREEN)                  -->



        <!---------------------- START: NAV (SMALL SCREEN) -------------------->
        <nav class="ma-nav--small"
             ng-class="{'ma-nav--small--active': vm._slideout}"
             role="navigation">

            <div class="ma-nav--small__mask"
                 ng-class="{'ma-nav--small__mask--active': vm._slideout}"
                 ng-click="vm.slideNavMenu()"></div>

            <div class="ma-nav--small__content ma-nav-content"
                 ng-class="{'ma-nav--small__content--active': vm._slideout}">

                <div class="ma-nav-content__header">
                    <div class="ma-nav-content__header__profile">

                        <div class="ma-nav-content__header__profile__user-item">
                            <div class="ma-photo-profile
                                        ma-photo-profile--tiny
                                        round">
                                <img width="32" height="32" src="https://a2.muscache.com/im/pictures/27b8a775-011e-4659-a82d-95320b05c1c8.jpg?aki_policy=profile_x_medium" alt="">
                            </div>
                            <div class="ma-label
                                        ma-label--simple
                                        ma-label--simple--medium
                                        ma-label--simple--primary
                                        margin-reset
                                        text-truncate">Sergio Ruiz Davila</div>
                        </div>

                    </div>
                </div>

                <hr>

                <div class="nav-menu-wrapper">
                    <div class="nav-menu-wrapper__container">
                        <div class="nav-menu-wrapper__container__menu">
                            <ul class="nav-menu-wrapper__container__menu__group
                                       nav-menu-wrapper__container__menu__group--first
                                       list-unstyled">
                                <li class="items-logged-in">
                                    <a href="/dashboard" class="link-reset menu-item dashboard hide" rel="nofollow">
                                        Dashboard
                                    </a>
                                </li>
                                <li class="items-logged-out">
                                    <a data-signup-modal="" href="/signup_login" class="link-reset menu-item" rel="nofollow">
                                        Sign Up
                                    </a>
                                </li>
                                <li class="items-logged-out">
                                    <a data-login-modal="" href="/login" class="link-reset menu-item" rel="nofollow">
                                        Log In
                                    </a>
                                </li>
                                <li class="items-logged-in">
                                    <a href="/alerts" rel="nofollow" class="link-reset menu-item">
                                        Messages
                                    </a>
                                </li>
                                <li class="items-logged-in">
                                    <a href="/inbox" rel="nofollow" class="link-reset menu-item">
                                        Inbox
                                    </a>
                                </li>
                                <li class="items-logged-out">
                                    <a href="/how-it-works" class="link-reset menu-item" rel="nofollow">
                                        How it Works
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav-menu-wrapper__container__menu__group list-unstyled">
                                <li>
                                    <a href="/help" rel="nofollow" class="link-reset menu-item">
                                        Help
                                    </a>
                                </li>
                                <li class="items-logged-in">
                                    <a href="/invite" rel="nofollow" class="link-reset menu-item">
                                        Invite Friends
                                    </a>
                                </li>
                                <li class="items-logged-in">
                                    <a href="/logout" rel="nofollow" class="link-reset menu-item logout">
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </nav>
        <!--                     END: NAV (SMALL SCREEN)                     -->

    </div>
    <!--                      END: HEADER (SMALL SCREEN)                     -->



    <!--                   START: HEADER (MD AND LG SCREEN)                  -->
    <!------------------------------------------------------------------------->
    <header class="hidden-xs clearfix">

        <!------------------- START: ABOUT (MD AND LG SCREEN) ----------------->
        <div class="ma-header__block
                    ma-header--transparent__block
                    ma-header--transparent__block--right
                    pull-left" style="padding-left: 30px;height:80px;line-height: 80px;">
            <!-- About Button -->
            <a class="ma-link
                      ma-link--simple
                      ma-link--simple--small"
               href="#" ui-sref="about">About</a>
        </div>
        <!--                   END: ABOUT (MD AND LG SCREEN)                 -->


        <!--------------- START: HOW IT WORKS (MD AND LG SCREEN) -------------->
        <div class="ma-header__block
                    ma-header--transparent__block
                    ma-header--transparent__block--right
                    pull-left" style="height:80px;line-height: 80px;">
            <!-- How it works? Button -->
            <a class="ma-link
                      ma-link--simple
                      ma-link--simple--small"
               href="#" ui-sref="about">How it works?</a>
        </div>
        <!--              END: HOW IT WORKS (MD AND LG SCREEN)               -->


        <!------------------ START: LOGO (MD AND LG SCREEN) ------------------->
        <div class="ma-header__block
                    ma-header--transparent__block
                    ma-header--transparent__block--right
                    pull-left" style="  height: 80px;
                                        width: 100%;
                                        position: absolute;
                                        text-align: center;
                                        padding-right: 0;">
            <!-- Logo Button -->
            <a ui-sref="page.landingPage" class="ma-header__block__btn
                          ma-header__block__logo-wrapper
                          link-reset" style="height: 100%;"
                          aria-label="Ynasu">
                <i class="ma-logo ma-header__block__btn__ma-logo"
                   style="  background-image: url(../../../assets/images/ynasu-logo-header.png);
                            background-size: contain;
                            background-position: center;
                            width: 80px;
                            height: 60px;line-height: 80px;"></i>
            </a>
        </div>
        <!--                 END: LOGO (MD AND LG SCREEN)                   -->


        <!------------------ START: SIGN UP (MD AND LG SCREEN) ---------------->
        <div class="ma-header__block
                    ma-header--transparent__block
                    ma-header--transparent__block--right
                    pull-right" style="padding-right: 30px; height: 80px;line-height: 80px;">

            <!-- Sign Up Button -->
            <a class="ma-btn
                      ma-btn--secondary
                      ma-btn--default"
               href="#" ui-sref="signUp">Sign Up</a>

        </div>
        <!--                 END: SIGN UP (MD AND LG SCREEN)                 -->


        <!------------------- START: LOG IN (MD AND LG SCREEN) ---------------->
        <div class="ma-header__block
                    ma-header--transparent__block
                    ma-header--transparent__block--right
                    pull-right" style="height: 80px;line-height: 80px;">

            <!-- Log In Button -->
            <a class="ma-link
                      ma-link--simple
                      ma-link--simple--small"
               href="#" ui-sref="logIn">Log In</a>

        </div>
        <!--                  END: LOG IN (MD AND LG SCREEN)                 -->

    </header>
    <!--                    END: HEADER (MD AND LG SCREEN)                   -->

</div>




<!--                          HEADER (TRANSPARENT)                           -->
<!----------------------------------------------------------------------------->

<div class="ma-header ma-header--transparent">


        <!--                  START: HEADER (SMALL SCREEN)                   -->
        <!--------------------------------------------------------------------->
        <header class="visible-xs clearfix">

            <!------------------ START: SIGN UP (SMALL SCREEN) ---------------->
            <div class="ma-header__block
                        ma-header--transparent__block
                        ma-header--transparent__block--right
                        pull-right" style="padding-right: 10px;padding-left: 10px;">

                <!-- Sign Up Button -->
                <a class="ma-btn
                          ma-btn--tertiary
                          ma-btn--default"
                   href="#" ui-sref="signUp">Sign Up</a>

            </div>
            <!--                 END: SIGN UP (SMALL SCREEN)                 -->


            <!------------------- START: LOG IN (SMALL SCREEN) ---------------->
            <div class="ma-header__block
                        ma-header--transparent__block
                        ma-header--transparent__block--right
                        pull-right" style="padding-right: 0;padding-left: 0;">

                <!-- Log In Button -->
                <a class="ma-link
                          ma-link--simple
                          ma-link--simple--small" style="color: #FFF"
                   href="#" ui-sref="logIn">Log In</a>

            </div>
            <!--                  END: LOG IN (SMALL SCREEN)                 -->


            <!------------------- START: ABOUT (SMALL SCREEN) ------------------>
            <div class="ma-header__block
                        ma-header--transparent__block
                        ma-header--transparent__block--right
                        pull-left" style="padding-right: 10px;padding-left: 20px;">
                <!-- About Button -->
                <a class="ma-link
                          ma-link--simple
                          ma-link--simple--small" style="color: #FFF"
                   href="#" ui-sref="about">About</a>
            </div>
            <!--                   END: ABOUT (SMALL SCREEN)                  -->


            <!--------------- START: HOW IT WORKS (SMALL SCREEN) -------------->
            <div class="ma-header__block
                        ma-header--transparent__block
                        ma-header--transparent__block--right
                        pull-left" style="padding-right: 0;padding-left: 0;">
                <!-- About Button -->
                <a class="ma-link
                          ma-link--simple
                          ma-link--simple--small" style="color: #FFF"
                   href="#" ui-sref="about">How it works?</a>
            </div>
            <!--                 END: ABOUT (SMALL SCREEN)                   -->



        </header>
        <!--                    END: HEADER (SMALL SCREEN)                   -->




    <!--                   START: HEADER (MD AND LG SCREEN)                  -->
    <!------------------------------------------------------------------------->
    <header class="hidden-xs clearfix">

        <!------------------- START: ABOUT (MD AND LG SCREEN) ----------------->
        <div class="ma-header__block
                    ma-header--transparent__block
                    ma-header--transparent__block--right
                    pull-left" style="padding-left: 30px">
            <!-- About Button -->
            <a class="ma-link
                      ma-link--simple
                      ma-link--simple--small" style="color: #FFF"
               href="#" ui-sref="about">About</a>
        </div>
        <!--                   END: ABOUT (MD AND LG SCREEN)                 -->


        <!--------------- START: HOW IT WORKS (MD AND LG SCREEN) -------------->
        <div class="ma-header__block
                    ma-header--transparent__block
                    ma-header--transparent__block--right
                    pull-left">
            <!-- About Button -->
            <a class="ma-link
                      ma-link--simple
                      ma-link--simple--small" style="color: #FFF"
               href="#" ui-sref="about">How it works?</a>
        </div>
        <!--                 END: ABOUT (MD AND LG SCREEN)                   -->


        <!------------------ START: SIGN UP (MD AND LG SCREEN) ---------------->
        <div class="ma-header__block
                    ma-header--transparent__block
                    ma-header--transparent__block--right
                    pull-right" style="padding-right: 30px">

            <!-- Sign Up Button -->
            <a class="ma-btn
                      ma-btn--tertiary
                      ma-btn--default"
               href="#" ui-sref="signUp">Sign Up</a>

        </div>
        <!--                 END: SIGN UP (MD AND LG SCREEN)                 -->


        <!------------------- START: LOG IN (MD AND LG SCREEN) ---------------->
        <div class="ma-header__block
                    ma-header--transparent__block
                    ma-header--transparent__block--right
                    pull-right">

            <!-- Log In Button -->
            <a class="ma-link
                      ma-link--simple
                      ma-link--simple--small" style="color: #FFF"
               href="#" ui-sref="logIn">Log In</a>

        </div>
        <!--                  END: LOG IN (MD AND LG SCREEN)                 -->



    </header>
    <!--                    END: HEADER (MD AND LG SCREEN)                   -->

</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('../../../assets/images/cover-ynasu.jpeg');">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article class="introtxt">
      <img id="logo-hero" src="../../../assets/images/ynasu-logo-hero.png" alt="ynasu hero image" style="width:330px;">
      <h2 class="heading">Where cacao farmers meet buyers</h2>
      <p class="ma-p ma-p--large" style="color: #FFF">Our Journey starts in Colombia</p>
    </article>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear" style="padding: 40px 0;">
    <div class="row margin-reset">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h2>What we do</h2>
        </div>
    </div>
    <div class="row margin-reset">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <p class="ma-p ma-p--large">
                We create a new cocoa market more direct and transparent than ever before.
            </p>
        </div>
    </div>
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="group center space-top-6">
      <article class="one_third first"><i class="icon fa fa-globe" style="font-size: 50px;"></i>
        <h4 class="font-x1"><a href="#">SELECTED NETWORK</a></h4>
        <p>After months spent on the ground, we are fostering/building  a network of producers dedicated to quality,  and with fair labour conditions.</p>
        <p>To assure you <strong>trust</strong> and <strong>reliability</strong></p>
      </article>
      <article class="one_third"><i class="icon fa fa-id-card-o"></i>
        <h4 class="font-x1"><a href="#">DETAILED PROFILES</a></h4>
        <p>We have created a free profile for every single member with the information we’ve gathered on her story, products, and cultivation methods.</p>
        <p>To assure you <strong>transparency</strong></p>
      </article>
      <article class="one_third"><i class="icon fa fa-ship"></i>
        <h4 class="font-x1"><a href="#">CERTIFIED EXPORTERS</a></h4>
        <p>We are certified exporters and take care of all the logistics in getting the product directly to your doorstep. </p>
        <p>To assure you <strong>traceability</strong></p>
      </article>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper">
  <div class="split clear" style="background-image:url('../../../assets/images/cocoa-example.jpg');">
    <section class="box" style="float: left;">
      <!-- ################################################################################################ -->
      <div class="btmspace-50">
        <h2 class="heading">WHAT WE HELP YOU DO</h2>
        <p class="ma-p ma-p--large" style="color: #FFF;">In a globalized and connected word, the buyer should know everything about his transaction</p>
      </div>
      <ul class="nospace elements">
        <li>
          <article><a href="#" class="icon"><i>1.</i></a>
            <h6 class="heading" style="text-transform:none;">Know your suppliers</h6>
            <p>Know the farmers, even though they are on the other side of the world. Learn their story through their profiles and communicate with them.</p>
          </article>
        </li>
        <li>
          <article><a href="#" class="icon"><i>2.</i></a>
            <h6 class="heading" style="text-transform:none;">Know your product</h6>
            <p>Know all the technical information about the product / [beans]. Order a sample to be sure that the [bean quality] corresponds to your needs.</p>
          </article>
        </li>
        <li>
          <article><a href="#" class="icon"><i>3.</i></a>
            <h6 class="heading" style="text-transform:none;">Know your costs</h6>
            <p>Order your products / [beans] and know exactly what the farmer is receiving and all other charges from the farm to the / [your] warehouse of destination.</p>
          </article>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </section>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section id="latest" class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <p class="ma-p ma-p--large">We are working in collaboration with some of the best Colombian chocolate artisans to select the cocoa for your needs</p>
    </div>
    <ul class="nospace group">
      <li class="one_third first">
        <article>
          <figure>
              <img src="../../../assets/images/logo-example1.png" alt="">
          </figure>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure>
              <img src="../../../assets/images/logo-example2.png" alt="">
          </figure>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure>
              <img src="../../../assets/images/logo-example3.png" alt="">
          </figure>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay coloured" style="background-image:url('images/demo/backgrounds/03.png');">
    <footer id="footer" class="hoc clear">
      <!-- ################################################################################################ -->
      <div class="one_quarter first">
        <h6 class="title">Eget neque mattis</h6>
        <p>Lacinia curabitur vulputate purus nibh in dapibus diam tempus quis proin lobortis metus vel consequat varius tincidunt mauris at.</p>
        <p>Finibus lorem ligula interdum ipsum vel venenatis magna quam at libero nullam mattis scelerisque convallis.</p>
      </div>
      <div class="one_quarter">
        <h6 class="title">Aliquam sed velit</h6>
        <ul class="nospace linklist contact">
          <li><i class="fa fa-map-marker"></i>
            <address>
            Street Name &amp; Number, Town, Postcode/Zip
            </address>
          </li>
          <li><i class="fa fa-phone"></i> +00 (123) 456 7890<br>
            +00 (123) 456 7890</li>
          <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
          <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="title">Sagittis vitae eros</h6>
        <ul class="nospace linklist">
          <li><a href="#">Eu augue semper non elit</a></li>
          <li><a href="#">Amet enim molestie mattis</a></li>
          <li><a href="#">Euismod nisi nunc interdum</a></li>
          <li><a href="#">Felis hendrerit non efficitur</a></li>
          <li><a href="#">Augue placerat integer ligula</a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="title">Nec consectetur</h6>
        <ul class="nospace linklist">
          <li>
            <article>
              <h2 class="nospace font-x1"><a href="#">Quam fusce cursus</a></h2>
              <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
              <p class="nospace">Blandit eleifend maximus class aptent taciti sociosqu litora&hellip;</p>
            </article>
          </li>
          <li>
            <article>
              <h2 class="nospace font-x1"><a href="#">Massa amet aliquam</a></h2>
              <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
              <p class="nospace">Per conubia nostra inceptos himenaeos etiam quis lacus&hellip;</p>
            </article>
          </li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Ynasu</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

<script type="text/javascript">
    $(function() {
        $(window).on("scroll", function() {
            if($(window).scrollTop() > 50) {
                $("#ma-header-primary").removeClass("hidden");
                $("#logo-hero").addClass("invisible");
                //$("#ma-header-primary").fadeIn();
            } else {
                //remove the background property so it comes transparent again (defined in your css)
               $("#ma-header-primary").addClass("hidden");
               $("#logo-hero").removeClass("invisible");
               //$("#ma-header-primary").fadeOut();
            }
        });
    });
</script>
